html, body {
  margin: 0;
  padding: 0;
}
h3 {
  padding-left: 20px;
  font-family: "arial";
  font-size: 22px;
  text-align:left;
  color: white;

}
div {
  overflow: hidden; 
}
canvas {
  display: block;
}
